
.main {
  display: flex;
}

.graph {

  /* position: relative;
  left:55em; */
  flex: 2;
  border: 3px solid #73AD21;
  height: 50em;

}

.dashboard {
  background-color: orange;
  /* position: relative;
  left:55em; */
  flex: 2;
  border: 3px solid #73AD21;
  height: 50em;
}

.map {
flex: 2;

}
